
#games-table {
    margin: auto;
}

#games-table-header {
    font: bold 20px sans-serif;
}

#float-right-link {
    float: right;
    margin: 5px;
}

#join-link {
    float: right;
}

#table-div {
    width: 600px;
    margin: auto;
}

#header {
    margin: 20px;
}