h1 {
    text-align: center;
    font: bold 40px sans-serif;
}

#right-side {
    position: absolute;
    top: 10%;
    right: 0;
}

#left-side {
    position: absolute;
    top: 10%;
    left: 0;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width:600px;
}

#action-button-div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30px;
}

#city-button {
    position: absolute;
    left:0;
}

#road-button {
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#confirm-button-div {
    position: relative;
    width: 70%;
}

#confirm-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}