h1 {
    text-align: center;
    font: bold 40px sans-serif;
}

#right-side {
    position: absolute;
    top: 10%;
    right: 0;
}

#left-side {
    position: absolute;
    top: 10%;
    left: 0;
    padding-left: 50px;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
}

#city-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#button-div {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#confirm-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#ticker {
    list-style-type: none;
    padding-left: 0px;
    font-family: sans-serif;
    font-size: 10pt;
}


