h1 {
    text-align: center;
    font: bold 40px sans-serif;
}

#right-side {
    position: absolute;
    top: 10%;
    right: 0;
}

#left-side {
    position: absolute;
    top: 10%;
    left: 0;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width:600px;
}